.ulList li{
    font-size: 1.2em;
    font-family: Arial;
    padding-left: 5px;
}

#footer img{
    margin-top: 10px;
    width: 25px;
    display: inline;
    float: right;
}

#register_note {
    margin: 25px 0px;
    float: right;
    padding: 0px;
}
#register_note a {
    color: cornflowerblue;
}

#blogSideBar{
    border: 0px solid black;
}


#blog_page{
    border: 0px solid black;    
}

#blogTable{
	border: 1px #DDDDDD solid;
}

#blogTable tr td{
	padding: 10px;
}

#blogCommentForm{
    float: right;
    margin: 25px 0;
}

#blogCommentRow{
    background-color: #85A3C2;
}

.form-inline {
    padding: 0 10px;
}

#profileNavigation{
    background-color:#5D7FAD;
    color:#FFFFFF;
    height: 700px;
    font-size: 1.2em;
}

#profileNavigation a, ul{
    color: #fff;
    list-style-type: none;
    margin: 0 auto;
}


#profilePage{
    background-color: #C2D1E0;
    height: 700px;
}

.commonTable tr td{
    padding: 5px 25px;
}

.commonTable{
    border-radius: 25px;
    background-color: #B2FFCC;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.profileTable tr td{
    padding: 5px 25px; 
    font-size: 1.4em; 
}

#profileSecondRow{
	background-color: #99B2CC;
	padding: 20px 0;
	text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
	background-color:#00796B
}

.avatar{
    width: 200px;
    height: 200px;
    border: 1px solid green;
}