h1,h2,h3,h4,h5,h6{
    margin: 40px;
}

.center{
    margin: 40px 0;
    text-align: center;
    float: none;
}

p{
    margin: 30px;
    font-size: 120%
}

ul li{
    font-size: 120%;
    font-family: Arial;
    line-height: 200%;
    color: black;
}

.commentDiv{
    background-color: #336699;
    width: auto;
}

.downloadItem{
    background-color: red;
    border: 1px solid black;
    height: 20px;
}

#contactContainer{
    background-color: #E6E6E6;
}

#contactPage{
    background-color: #ffffff;
    margin: 20px 5px;
    border: 1px solid #cccccc;
}

#footer img{
    margin-top: 10px;
    width: 25px;
    display: inline;
    float: right;
}

#register_note {
    margin: 25px 0px;
    float: right;
    padding: 0px;
}
#register_note a {
    color: cornflowerblue;
}

#blogSideBar{
    border: 0px solid black;
}


#blogTable{
    background-color: #F0F0F0;
    border-radius: 25px;

}

#blogTable tr td{
	padding: 10px;
}

#profileNavigation{
    background-color:#5D7FAD;
    color:#FFFFFF;
    height: 700px;
    font-size: 1.2em;
}

#profileNavigation a, ul{
    color: #fff;
    list-style-type: none;
    margin: 0 auto;
}


#profilePage{
    background-color: #C2D1E0;
    height: 700px;
}

.commonTable tr td{
    padding: 5px 25px;
}

.profileTable tr td{
    line-height: 200%;
    padding: 5px 25px; 
    font-size: 1.4em; 
}

/* selects: main navmenu items */
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
	background-color:#00796B
}

.commentsDisplay{
    background-color: green;
}