.ulList li{
    font-size: 1.2em;
    font-family: Arial;
    padding-left: 5px;
}

#footer img{
    margin-top: 10px;
    width: 25px;
    display: inline;
    float: right;
}

#register_note {
    margin: 25px 0px;
    float: right;
    padding: 0px;
}
#register_note a {
    color: cornflowerblue;
}

#blogSideBar, #blogSideBar a{
    background-color: #336699;
    color: #FFFFFF;
}

#blog_page{
    background-color: #FFF0D1
}


#blogTable td{
    padding: 10px;
}

#blogTable{
    border: 1px solid #336699;
}

#blogAddForm{
    margin: 10px 0;
}

